body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: black;
}
.navbar {
    margin-bottom: 0 ;
    padding: 0; 
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
h1.bg-warning {
    margin: 0;
    width: 100%;
    padding: 0; 
    box-sizing: border-box;
    background-color: #ffc107; 
    color: #fff ;
}
.container, .text-center {
    padding-left: 1rem;
    padding-right: 1rem;
}
.meal-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 6px;
    background: #fff;
    max-width: 1000px;
    margin: 1rem auto;
}